.heading {
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;

  @include media-breakpoint-up (lg) {
    font-size: 6rem;
  }
}


.text {
  font-size: 1.9rem;
  text-align: center;

  @include media-breakpoint-up (sm) {
    font-size: 2rem;
  }
}

.red {
  color: $color-violet;
  font-weight: 700;
}

.button-oval {
  background-color: black;
  color: white;
  cursor: pointer;
  border: none;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;

  .arrow {
    width: 50%;
  }

  &:focus {
    outline: none;
  }

  @include media-breakpoint-up (sm) {
    width: 5rem;
    height: 5rem;
  }
}

.bold {
  font-weight: 700;
}
.center {
  display: flex;
  justify-content: center;
}

.typed-cursor {
  font-size: 3rem;
  color: $color-violet;

  @include media-breakpoint-up (lg) {
    font-size: 5rem;
  }
}

.section {
  width: 20%;
  float: left;
  padding: 0 2rem;
  min-height: 100vh;
  position: relative;
  padding-top: 2rem;
  background: linear-gradient($color-main, $color-secondary);
}

.width-long {
  width: 500vw;
}

.list-btn {
  list-style-type: none;
  cursor: pointer;
  z-index: 20;
  button {
    font-size: 3rem;
  }
}  

.button-next {
  position: absolute;
  right: 20px;
  top: 25px;
}

.button-prev {
  position: absolute;
  left: 20px;
  top: 25px;
}

.button-up {
  top: 25px;
}

.container__animated {
  height: 100vh;
  position: unset !important;
}

