@import url('https://fonts.googleapis.com/css?family-Raleway');
@import url('https://fonts.googleapis.com/css?family-Playfair+Display:700|Raleway');

html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}
h2{
	font-family: 'Playfair Display', serif;
	font-size: 200%;
	font-weight: 700;
	color: #2C2C2C;
	text-align: center;
	text-decoration: underline;
}
p.indentText{
	text-indent: 6%;
}
p{
	font-family: 'Raleway', serif;
	color: #2C2C2C;
	font-size: 140%;
	line-height: 180%;
	text-align: justify;
	font-weight: 300;
}
img{
	text-align: center;
	max-width: 100%;
	height: auto;
	width: auto;
}
.intro{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url(../img/banner.jpeg) no-repeat 50% 50%;
	background-size: cover;
	display: table; /*This takes the image to the very top of the site with top 0*/
	top:0;
}
.intro .inner{
	display: table-cell;
	vertical-align: middle;
	width: 100%;
	max-width: none;	
}
.content{
	max-width: 600px;
	margin: auto;
}
h1{
	font-family: 'Playfair Display', serif;
	font-size: 300%;
	font-weight: 700;
	color: #FFF;
	text-align: center;
	padding: 2% 0 0 0;
	text-shadow: 0px 0px 250px #000	
}
.content p{
	color: #FFF;
}
.inner{
	max-width: 600px;
	margin: auto;
	font-size: 170%;
	line-height: 1.6;
	padding: 10px;
}
/*--- Start Nav ---*/
nav{
	float:left;
	padding: 5% 5% 0 0;
	height: 15px;
}
nav ul{
	list-style: none;
	float:left;
}
nav ul li{
	font-family: 'Raleway', sans-serif;
	font-size: 120%;
}
nav ul li a{
	color: #FFF;
	text-decoration: none;	
}
nav ul li a:hover{	
	text-decoration: underline;	
}
nav ul, nav:active ul{
	display:none;
	left:45px;
	top:60px;	
	padding: 8px 0;
	width: 20%;
	z-index: 1000;
}
nav li{
	width: 100%;
	padding: 8px 0 10px 7px;
	margin: 0;
}
nav:hover ul{
	display:block;
	position: absolute;
}
#menu-icon{
	width: 30px;
	height: 26px;
	background: url(../img/nav-icon.png) center;
	display: inline-block;
	margin: 50px 0 0 50px;
	padding: 0;
}
/*--- End Nav ---*/
.left-col{
	width:60%;
	float:left;
	margin: 4% 0 4% 4%;
}
.sidebar{
	width: 25%;
	float: left;
	margin: 4%;
}
.one-third-port{
	width: 29.33333%;
	padding: 2%;
	float: left;
}
.one-third-port img:hover{
	opacity: .6;
}
.contact p{
	text-align: center;
	letter-spacing: 5px;
}
.contact a{
	color: #2C2C2C;
	text-decoration: none;
}
.break{
	display: none;
}
.clearfix{
	clear: both;
	height: 3%;
}
.parallax{
	background: url(../img/parallax.jpg) repeat fixed 100%;	
	opacity: 0.95
}
.parallax-inner{
	padding-top: 17%;
}
.social{
	list-style-type: none;
	text-align: center;	
}
.social li{
	display: inline;
}
.social i{
	font-size: 270%;
	margin: 1% 5% 7% 4%;
	color: #2C2C2C;
}
.social i:hover{
	color: #606060;
}
footer.second{
	background-color: #2C2C2C;
}
footer.second p{
	color: #FFF;
	text-align: center;
	padding: 2%;
}
@media screen and (max-width: 768px) {
	#menu-icon{
		margin: 26px 0 0 26px;
	}
	nav ul, nav:active ul{
		padding: 8px 0;
		left:23px;
		top:35px;
		width: 50%;
	}
	.contact p{
		text-align: center;			
	}
	.inner{
		font-size: 120%;
	}
	.content h1{
		font-size: 180%;
	}
	p{
		font-size: 120%;
	}
	h2{
		font-size: 160%;		
	}
	.left-col{
		width: 96%;
		padding: 0 2%;
		margin: 0 0 3% 0;
	}
	.sidebar{
		width: 50%;
		margin: 0 auto;		
	}
	.sidebar .contact{
		min-width: 100%;
		margin-left: 50%;		
	}
	img{
		width: 100%;
		padding: 2%;
		margin: 0 auto;
	}
	.one-third-port{
		width: 96%;
		margin: 0 auto;
		padding: 0;
	}
	.break{
		display:block;
	}
	.parallax{
		display:none;
	}
	.social i{
		font-size: 170%;
	}
	.social {
		text-align: center;	
		margin-right: 10%	
	}
}




























