@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
body{
	padding-top: 50px;	
}
/*--- Navbar ---*/
.navbar{
	background-color: #333333;
}
#logo{
	max-width: 130px;	
	margin-top: -5px;
}
.navbar-collapse ul>li>a{
	font-size: 1.5em;
	padding-right: 5px;
	padding-left: 15px;
}
.navbar-collapse ul>li:last-child{	
	padding-right: 10px;
}
/*--- Testimonials ---*/
h2{
	padding-top: 60px;
}
footer.cite{
	background-color: #EEEEEE;
}
/*--- Features ---*/
p.features{
	font-size: 1.2em;
	font-family: 'Noto Serif', serif;
}
.features-section{
	margin-bottom: 15px;	
}
h3{
	font-size: 2em;
}
span.glyphicon{
	font-size: 200%;
}
.glyphicon-map-marker{
	color: red;
}
.glyphicon-euro{
	color: #E29B00;
}
.glyphicon-time{
	color: #3E55A3;
}
.well h3{
	font-size: 2.5em;
	font-weight: 700;
}
.well p{
	font-size: 1.3em;
}
.well{
	background-color: #808BAF;
}
/*--- Gallery ---*/
.carousel{
	max-width: 700px;
	margin: auto;
}
/*--- Footer ---*/
footer{
	background-color: #373C4C;
}
.footer-text h3{
	color: #FFF;
}
.footer-text p{
	color: #FFF;
}
.social i{
	font-size: 250%;
	width: 40px;
	height: 40px;
	padding: 5px;
	border: 1px solid #FFF;
	color: #FFF;
	margin: 0 10px 0 0;
}
.social i:hover{
	color: #CCC;
}
/*--- Media 992px ---*/
@media screen and (max-width: 992px){
	/*--- Features ---*/
	#computer-feature{
		display: none;
	}
	h4 {
		font-size: 1.8em;
	}
	.panel-body p{
		font-size: 1.2em;
	}	
}
/*--- Media 768px ---*/
	@media screen and (max-width: 768px){
		/*--- Footer ---*/
		.social i{
		margin-bottom: 30px;
		}
	} 




















































