@import "https://fonts.googleapis.com/css?family=Alegreya+Sans";

* {
	margin:0;
	padding: 0;
	border:0;
}
body{
	background-color: #f5f5f5;
	color: #67727A;
	font-family: "Alegreya", sans-serif;
	margin: 0;
}
h2{
	font-size: 250%;
	font-weight: 700;
	text-align: center;
	padding-top: 2%;
	color:#F5F5F5;
}
h3{
	font-size: 175%;
	line-height: 155%;
	padding: 5% 0;
	font-weight: 400;
	color:#F5F5F5;
}
p{	
	font-family: "Alegreya Sans", sans-serif;
	color: #F5F5F5;
	font-size: 160%;
	line-height: 150%;
	padding: 3%;
	text-indent: 2%;
	text-align: justify;
}
img{
	max-width: 100%;
	height: auto;
	width: auto;
	margin-bottom: -4px;
}
header{
	background-color: #6991AC;
	width: 100%;
	height: 86px;
}
#header-inner{
	max-width: 1200px;
	margin: 0 auto;
}
#logo{
	margin:20px;
	float:left;
	width:200px;
	height: 60px;	
	background: url(../img/rw.png) no-repeat center;
}

/* Start Navigation */

nav{
	float:right;
	padding: 25px 20px 0 0;
}
#menu-icon{
	display:hidden;
	width: 40px;
	height: 40px;
	background: url(../img/nav.png) center;	 
}
a:hover#menu-icon{
	border-radius: 4px 4px 0 0;
}
ul {
	list-style-type: none;
}
nav ul li{
	font-family: 'Alegreya Sans', sans-serif;
	font-size: 150%;
	display: inline-block;
	float:left;
	padding: 10px;
}
nav ul li a{
	color:#f5f5f5;
	text-decoration: none;
}
nav ul li a:hover{
	color:#c3d7df;
}
.current{
	color:#c3d7df;
}
/* End Navigation*/
.banner{
	width:100%;	
	background-color: #6991AC;
}
.banner-inner{
	max-width: 1100px;
	max-height: 550px;
	margin: 0 auto;
}
.one-fourth{
	width: 25%;
	float: left;
	text-align: center;
}
#html{
	background-color: #F16528;
}
#css{
	background-color: #1198D0;
}
#seo{
	background-color: #60BAA8;
}
#social{
	background-color: #6684A0;
}
.one-fourth i{
	color:#F0F0F0;
	font-size: 500%;
	padding: 13% 0 4% 0;
}
.inner-wrapper{
	float:left;
	width:100%;
	background-color: #C3D7DF;
}
article {
	float:left;
	margin: 0 auto;
	width: 50%;
	height:auto;
}
#tablet{
	background-color: #C3D7DF;	
}
#tablet img{
	width:40%;
	padding-left: 100px;	
}
aside{
	float: right;
	margin:0 auto;
	width:50%;
	height: auto;	
}
.phone img{
	width: 30%;
	float:right;
	padding-right: 100px;
	padding-bottom: 5px;
}
.computer{
	width: 40%;
	padding-bottom: 5px;
	padding-left: 50px;
}
#tablet2{
	background-color: #6684A0;
}
#mobile{
	background-color: #A09885;
}
#desktop{
	background-color: #CE8469;
}
.inner-wrapper-2{
	float:left;
	width: 100%;
	background-color: #C3D7DF;
}
.inner-wrapper-3{
	float:left;
	width:100%;
	background-color: #60BAA8;
}
.one-third{
	width: 33.333333333333%;
	float:left;
	text-align: center;
}
#google{
	background-color: #8493A3;
}
#marketing{
	background-color: #AAA69D;	
}
#customers{
	background-color: #60BAA8;	
}
.clear-fix{	
	clear: both;
}
/* Start Footer */
footer{
	background-color: #6991AC;
	width: 100%;
}
footer h3.social-text{
	text-align: center;	
	padding-top: 15px;
	margin-bottom: 0px;
	padding-bottom: 0px;	
}
.social{
	list-style-type: none;
	text-align: center;
}
.social li{
	display:inline;	
}
.social-section{
	width:80%;
	height:8%;
	background-color: #587589;
	opacity: 0.8;	
	margin:0 auto;	
}
.social-section:hover{	
	background-color: #587589;	
	opacity: 1;
}
.social i{
	font-size: 460%;
	margin: 1%;
	padding: 5% 5% 5% 4%;
	color: #C3D7DF;		
}
.social i:hover{
	color: #F5F5F5;
}
footer.second{
	border-top: 2px solid #AADCD2;
	background-color: #544B59;
	max-height: 55px;	
	margin: 0;
}
footer.second p{
	padding: 5px 0 9px 0;
	text-align: center;
}
/*-------------Media!!!!!--------------*/
@media screen and (max-width: 768px) {
	h2{
		font-size: 150%;
	}
	h3{
		font-size: 125%;
	}
	p{
		font-size: 120%;
	}
	header{
		position: absolute;
	}
	#logo{
		margin: 15px 0 20px -25px;
		background: url(../img/rw.png) no-repeat center; 
	}
	#menu-icon{
		display:inline-block;
	}
	nav ul, nav:active ul{
		display:none;
		z-index: 1000;
		position: absolute;
		padding: 20px;
		background: #6991AC;
		right: 20px;
		top:60px;
		border:1px solid #FFF;
		border-radius: 2px 0 2px 2px;
		width:50%;
	}
	nav:hover ul{
		display:block;
	}
	nav li{
		text-align: center;
		width:100%;
		padding: 10px 0;
	}
	.banner{
		padding-top: 86px;
	}
	.one-fourth{
		float:left;
		width:100%;
	}
	.one-fourth i{
		font-size: 350%;
		padding: 4% 0 1% 0;
	}
	article{
		width:100%;
	}
	aside{
		width: 100%;
	}
	.phone{
		display:none;
	}
	.one-third{
		width:100%;
	}
	.social i{
		font-size: 180%;
	}
}


















