/*--- Navbar ---*/ 
.navbar{
	background-color: #000;
	text-transform: uppercase;
	font-weight: 700;
	border:none;	
}
#myNavbar .navbar-nav>li>a{
	color:#FFF;
	opacity: 0.7;
}
#myNavbar .navbar-nav>li>a:hover{
	color:#FFF;
	opacity: 1;
}
#myNavbar .navbar-header>a{
	color: #FFF;
}
/*#brand-logo{
	margin-top: 0px;
	padding-top: 0px;
	width: 30px;
	display: inline-block;
	margin: 0 10px;
}*/
/*--- Header ---*/
.header{
	margin-top: 40px;	
	padding-top: 10px;	
	padding-bottom: 180px;		
	/*background: url(../img/landscape2.jpeg) no-repeat center center;
	background-size: cover;*/
	background-color: #6DCCFF;
}
.header h1{
	font-weight: 700;
	margin-top: 55px;
}
.header p{
	font-size: 1.3em;
}
.btn{
	margin-bottom: 20px;
	margin-top: 30px;
}
.header img{	
	width: 100%;
	height: 100%;
	margin-top: 50px;
}
/*--- Services ---*/
.services{
	text-align: center;
	padding: 80px 0 80px 0;
}
.services h2{
	font-weight: 700;
	font-size: 3em;
}
.services h4{
	font-weight: 700;
	font-size: 2em;
}
.services p{
	font-size: 1.3em;
	color: #737373;
	padding-bottom: 40px;
}
.services i{
	width: 120px;
	height: 120px;
	font-size: 450%;
	padding: 25px 20px;
	border-radius: 50%;
	background-color: #4479CE; 
	text-align: center;
	color: #dddddd;
}
/*--- Pricing ---*/
.pricing{
	padding: 50px 0;
	text-align: center;
	background-color: #70B7FF;
}
.pricing h1{
	font-size: 250%;
	font-weight: 700;
}
.pricing h4{
	font-size: 200%;
	font-weight: 700;
}
.pricing h2{
	font-size: 3em;
	font-weight: 700;
}
.pricing p{
	padding: 10px 0 20px 0;
	font-size: 1.3em;
}
.packages p{
	color: #737373;
	padding: 20px 0;
}
.pricing b{
	color: #737373;
}
.pricing .packages li{
	font-size: 1.2em;
}
.pricing .packages{
	padding: 30px;
	border: 1px solid #ccc;
	background-color: #FFF;
	border-radius: 5px;
	margin-top:30px;
}
.packages ul{
	list-style-type: none;	
	margin:0;
	padding: 0;
}
.packages ul li{
	text-align: center;
	padding-bottom: 5px;	
}
.packages ul li:last-child{
	padding-bottom: 15px;
}
/*--- Team ---*/
.team img{
	width: 150px;
	height: 150px;
	margin-top: 80px;
}
.team{
	padding: 50px 0 80px 0;
	text-align: center;
}
.team b, .team h2, .team h4{
	margin: 20px 0;
	color: #4C4C4C;
}
.team h4{
	font-size: 2em;
}
.team b{
	font-size: 1.3em;
}
.team h2{
	font-size: 3em;
	font-weight: 700;
}
.team p{
	color: #737373;
	font-size: 1.3em;
}
.team i{
	width: 40px;
	height: 40px;
	font-size: 165%;
	padding: 10px;
	border-radius: 50%;
	color: #FFF;
	background-color: #3577E0;
}
.team i:hover{
	background-color: #1D4482;
}
/*--- Clients ---*/
.clients{
	padding: 50px 0 80px 0;
	background-color: #625472;
	text-align: center;
	color: #FFF;
}
.clients h2{
	color: #FFF;
	font-size: 3em;
	font-weight: 700;
	margin:20px;
}
.clients p{
	padding-bottom: 40px;
	font-size: 1.3em;
}
.clients img{		
	opacity: 0.7;
	cursor: pointer;
	margin: 40px 0;
	padding: 0;
	transition: all 500ms ease-in-out;
}
.clients a:hover img{
	opacity: 1;
}
/*--- Contact ---*/
.contact{
	padding: 50px 0 80px 0;
	text-align: center;
}
.contact p{
	padding-bottom: 80px;
	color: #737373;
	font-size: 1.3em;
}
.contact h2{
	color: #4C4C4C;
	margin: 20px 0;
	font-size: 3em;
	font-weight: 700;
}
.contact .input-group{
	margin-bottom: 25px;
}
.contact .form-control{
	border-radius: 0;
}
.contact .input-group span{
	border-radius: 0;
}
.contact .btn{
	border-radius: 0;
	width: 100%;
	font-size: 1em;
	background-color: #933FCC;
	color: #FFF;
}
.contact .btn:hover{
	background-color: #4F266B;
	color: #FFF;
}
.contact button{
	text-transform: uppercase;
}
/*--- Footer ---*/
.footer{
	padding: 30px;
	color: #CCCCCC;
	background-color: #222222;
}
.footer .social{
	font-size: 160%;
	height: 30px;
	width: 30px;
	text-align: center;
	padding: 5px;
	border: 1px solid #CCCCCC;
	margin-bottom: 10px;
	margin-right: 5px;
}
.footer a{
	color: #FFF;
}
.footer a.link{
	color: #C9C9C9;
}
.footer a.link:hover{
	color: #FFF;
}
.footer a:hover{
	color: #C9C9C9;
}
.footer h4{
	text-transform: uppercase;
}
.footer input{
	height: 40px;
	width: 160px;
	padding: 5px;
	border: none;
	background-color: #CCCCCC;
	color: #000;
}
.footer .btn{
	width: 100px;
	padding: 10px 5px 10px 0;
	margin: -3px 0 0 5px;
}
@media screen and (max-width: 768px){
	#clients img{
		padding-bottom: 0px;
		margin-bottom: 0px;
	}
	.contact-us, .about-us, .stay-in-touch{
		padding-bottom: 20px;
	}
}


























